.prodDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 50%;
  padding: 10px;
  margin: 10px;

  
  .prodName {
    font-size: 28px;
    font-weight: 600;
    color: var(--text-dark);
    line-height: 20px;
    margin-bottom: 10px;
    padding: 0 20px;
  
  }
  .prodCategory {
    margin: 10px 0px;
    font-size: 15px;
    color: #a9a9a9;
    font-weight: 400;
    line-height: 22px;
    padding: 0 20px;
    text-transform: uppercase;
  }
  .prodStock {
    color: #30b619;
  }
  .itemWrap {
    margin: 10px 0px;
    padding: 0 20px;

  }
  .productBuy{
    display: flex;

    button{
        margin-right: 20px;
    }
}
}

@media(max-width:768px){
  .prodDetail{
    flex: 100%;
  }
}

