.prodDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 50%;
  padding: 10px;
  margin: 10px;

  hr {
    margin: 10px 0px;
    border: 0;
    height: 1px;
    width: 100%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
  .prodName {
    font-size: 28px;
    font-weight: 600;
    color: #000;
  }
  .prodCategory {
    margin: 10px 0px;
    color: var(--text-light);
    font-size: 18px;
  }
  .prodStock {
    color: #30b619;
  }
  .itemWrap {
    margin: 20px 0px;
  }
}

@media(max-width:768px){
  .prodDetail{
    flex: 100%;
  }
}