@import '../../../styles/common';

.wrap {
    width: 100%;
    background-color: #f6f6f8;
    padding: 40px 0px;
    margin-top: 50px;
  .tab {
    @extend %maxWidth;
    display: flex;
    justify-content: center;
    button {
        &:hover{
            color: #000;
        }
        &.active{
          border: 1px solid #000;
      }
        
        background-color: #dddddd;
        border: 2px solid transparent;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
        margin: 10px;
        min-height: 40px;
        padding: 0px 25px;
        transition: 0.3s;
        font-size: 17px;
        color: #2e2e2e;
        
      }
  }

  .tabcontent {
    @extend %maxWidth;
    display: block;
    text-align: center;
    padding: 1em 1em;
    color: #878787;
  }
}
