@import '../../styles/common';

.wrap{
    @extend %maxWidth;
    width: 100%;
    padding: 10px;
    display: flex;

    .colCart{
        width: 70%;
    }

    .colSub{
        width: 30%;
    }
}

@media(max-width:992px){
    .wrap{
        flex-direction: column;

        .colCart{
            width: 100%;
        }
        .colSub{
            width: 1005;
        }
    }
}
