@import '../../styles/common';

.noProducts{
  padding: 100px 0px 150px;
  text-align: center;

  a{
    color: var(--primary);
  }

}

.container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 60px;

  .items {
    width: 70%;
    margin-right: 15px;
  }

  .totals {
    width: 30%;
  }
}

@media(max-width: 880px){
  .container {
    flex-direction: column;

    .items {
      width: 100%;
      margin-right: 0px;
    }

    .totals {
      width: 100%;
    }
  }
}

