
.section {
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 1rem;

    .title {
        font-size: var(--size-h2);
        font-weight: 600;
        margin-bottom: .3rem;
    }

    .fields {
        
        .field {
            margin-bottom: 20px;

            label {
                font-size: 14px;
                color: var(--text-light);
                display: block;
            }

            span {
                display: block;
            }
        }

        .change {
            margin-top: 1rem;
            padding: 3px 10px;
            border-radius: 3px;
            outline: none;
            border: none;
            cursor: pointer;
            background-color: rgba(0, 102, 255, 0.2);
            color: #383838;

            &:hover {
                color: var(--text-dark);
            }
        }

    }
    
}
