.prodCard {
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  box-sizing: border-box;
  width: 200px;
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
  transition: all 0.25s ease;
  cursor: pointer;
  .dataWrap {
    .prodCategory {
      color: var(--text-light);
    }
  }

  .priceWrap {
    margin-top: 5px;
    color: var(--accent);
    .originalPrice{
      margin-right: 10px;
      display: inline;
      text-decoration: line-through;
      color: var(--text-light);
    }
  }
}
