.prodCard {
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  width: 250px;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
  transition: all 0.25s ease;
  cursor: pointer;

  .discountLabel{
    position: absolute;
    top: 50%;
    background-color: #35b81e;
    border-radius: 5px;
    color: var(--white);
    padding: 0px 5px;
  }
  .dataWrap {
    .prodCategory {
      color: var(--text-light);
    }
  }

  .priceWrap {
    margin-top: 5px;
    color: var(--accent);
    .originalPrice{
      margin-right: 10px;
      display: inline;
      text-decoration: line-through;
      color: var(--text-light);
    }
  }
}
