.wrap{
    padding: 1rem;

    h2{
        font-size: 40px;
    }
    p{
        padding: 20px 0;
    }
    width: 70%;
    margin: 10px auto;
    text-align: center;

    .inputWrapper{
      margin: 20px 0px;
    }

}

  

  @media (max-width: 800px) {
    .wrap{
        padding: 1rem 2rem;   
        width: 90%;
    
    }
  }


  @media (max-width: 550px) {
    .wrap{
        padding: 1rem 1rem;
        width: 100%;
    
    }
  }