@import '../../../styles/common';

.wrap{
    @extend %maxWidth;
    padding: 3rem;

    h2{
        font-size: 40px;
    }
    p{
        padding: 20px 0;
    }



    .formWrap{
        width: 70%;
        margin: 10px auto;
        text-align: center;
       

       

    }
}