@import '../../styles/common';

.categories {
    margin-top: 3em;
    margin-bottom: 3em;

    .container {
        @extend %maxWidth;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 20px;
    }
}

@media (max-width: 768px) {
    .categories .container {
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 15px;
    }
}

@media (max-width: 540px) {
    .categories .container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px
    }
}
@media (max-width: 375px) {
    .categories .container {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px
    }
}