@import '../../styles/common';

.categories {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}

@media (max-width: 768px) {
    .categories {
        grid-gap: 15px;
    }
}

@media (max-width: 630px) {
    .categories {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 14px
    }
}

@media (max-width: 540px) {
    .categories {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 14px
    }
}
@media (max-width: 375px) {
    .categories {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 12px
    }
}