.prodCard {
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  width: 100%;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 15px;
  margin: 15px;
  transition: all 0.25s ease;
  cursor: pointer;

  button {
    margin-top: 10px;
  }

  .imgWrap {
    img {
      width: 100%;
      height: 100%;
    }
  }
  .discountLabel {
    position: absolute;
    top: 50%;
    background-color: #35b81e;
    border-radius: 5px;
    color: var(--white);
    padding: 0px 5px;
  }
  .dataWrap {
    .prodCategory {
      color: var(--text-light);
    }
  }

  .priceWrap {
    margin-top: 5px;
    color: var(--accent);
    .originalPrice {
      font-size: 0.75em;
      margin-right: 10px;
      display: inline;
      text-decoration: line-through;
      color: var(--text-light);
    }
  }
}

@media (max-width: 768px) {
  .prodCard {
    .discountLabel {
      position: absolute;
      top: 20%;
    }
  }
}

@media(max-width:576px){
  .prodCard {
    width: 100%;
    height: 100%;
  }
}