.wrap{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    padding: 5px;
    label{
        width: 20%;
    }

    .controller{
        width: 80%;
    }
}

@media(max-width:768px){
    .wrap{
        flex-direction: column;
        align-items: flex-start;
    }
}