@import '../../styles/common';

.noOrders{
    padding: 100px 0px 150px;
    text-align: center;
  
    a{
      color: var(--primary);
    }
  
}

.wrap {
    @extend %maxWidth;
    padding: 100px 10px;

    .viewMore {
        vertical-align: bottom;
        display: inline-block;
        float: right;

        @media (max-width: 350px) {
            display: block;
            float: none;
        }
    }
}