.wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    input{
        &:focus{
            border: 2px solid #2684ff;
        }
        padding: 10px;
        border: 2px solid #d8d8d8;
        border-radius: 4px 0px 0px 4px;
        height: 40px;
        min-width: 250px;
    }
    button{
        &:hover{
            color: var(--text-dark);
            background-color: #fff;
            border: 1px solid var(--accent); 
        }
        height: 40px;
        padding: 10px;
        color: var(--white);
        border: 1px solid var(--accent);
        background-color: var(--accent);
        font-size: 16px;
        text-align: center;
        border-radius: 0px 4px 4px 0px;
        border: 0px;
        cursor: pointer;
        transition: all 0.5s ease;
    }
}

@media(max-width:639px){
    .wrap{
        order: 3;
        margin: 20px auto;
    }
}

@media(max-width:400px){
    .wrap{
        input{
            min-width: 200px;
        }
    }
}