.wrap {
  margin: 15px 0;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;

  hr {
    margin: 10px 0px;
    border: 0;
    height: 1px;
    width: 100%;
    background: var(--text-lighter);
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 500;
  }

  .btnWrap{

    a {
      display: block;
    }
    
    a:last-child {
      margin-top: 10px;
    }

    @media (max-width: 862px) {
      button {
        font-size: 1rem;
        padding: .7rem !important;
      }
    }

  }

}