.priceWrap {
  margin: 10px 0px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: 500;

  span{
    &.originalPrice {
      margin-right: 10px;
      text-decoration: line-through;
      color: var(--text-light);
    }
    &.priceSave {
      margin-left: 10px;
      background-color: #30b715;
      padding: 5px;
      color: #fff;
    }
    &.calPrice{
      color: var(--accent);

    }
  }
  
  
}

@media (max-width: 340px) {
  .priceWrap {
    .priceSave {
      font-size: 10px;
    }
  }
}
