@import '../../styles/common';

.navBarWrap{
    width: 100%;
    .navBar{
        @extend %maxWidth;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
    }
}

@media(max-width:768px){
    .navBarWrap{
        width: 100%;
        .navBar{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            padding: 20px 20px;
        }
    }
}