.filter {
    width: 25%;
    max-width: 250px;
    align-self: flex-start;
    position: sticky;
    left: 0;
    top: 20px;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin-top: 20px;

    h3 {
        padding: 10px 20px;
        background-color: #4d545f;
        color: white;
    }

    .container {
        padding: 1px 20px;
    }

}

@media (max-width: 768px) {
    .filter {
        width: 100%;
        max-width: 100%;
        position: inherit;
        margin: 20px 0px;

        h3 {
            display: flex;
            justify-content: center;
            border-radius: 5px;
        }

        .container {
            border-radius: 5px;
            margin-top: 10px;
            transition: height .3s ease-in-out;
        }
    }
}