.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .wrap{
        box-sizing:border-box;
        width: 23%;
        padding: 5px;
    }

    .searchWrap {
        box-sizing:border-box;
        width: 25%;
        padding-right: 20px;
    }
}
@media(max-width:1250px){
    .container{
        .wrap{
            width: 30%;
        }
    }
}
@media(max-width:980px){
    .container{
        .wrap{
            width: 45%;
        }
    }
}

@media(max-width:400px){
    .container{
        .wrap{
            width: 65%;
        }
    }
}