.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;

    .wrap{
        box-sizing:border-box;
        width: 20%;
        margin: 5px;
        padding: 5px;
    }
}

@media(max-width:768px){
    .container{
        .wrap{
            width: 25%;
        }
    }
}

@media(max-width:520px){
    .container{
        .wrap{
            width: 33%;
        }
    }
}