@import '../../styles/common';

.categories {
    @extend %maxWidth;

    .name {
        display: flex;
        margin: 30px;

        svg {
            fill: rgb(131, 131, 131);
            align-self: flex-end;
            transform: rotate(-90deg);
        }
    }

    .body {
        display: flex;

        .container {
            width: 75%;
            margin-left: 20px;

            .products {
                display: flex;
                flex-wrap: wrap;
            }
        }

    }
}

@media (max-width: 768px) {
    .categories {

        .name {
            margin: 10px;
        }
    
        .body {
            display: flex;
            flex-direction: column;

            .container {
                width: 100%;
                margin-left: auto;
            }

        }
    }
}
