@import '../../styles/common';

.productContainer {
  width: 100%;
  .productFlex {
    @extend %maxWidth;
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 10px;

    .imgWrap {
      width: 50%;
      padding: 10px;
      margin: 10px;
      text-align: center;
    }

    .prodDetailWrap {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 50%;
      padding: 10px;
      margin: 10px;
    }
  }
  .carouselWrap{
    margin: 120px 0px;
  }
}

@media (max-width: 768px) {
  .productContainer {
    .productFlex {
      flex-direction: column;
      .imgWrap {
        width: 100%;
      }
      .prodDetailWrap{
        width: 100%;
      }
    }
  }
}
