@import '../../styles/common';

.productContainer {
  width: 100%;
  .productFlex {
    @extend %maxWidth;
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding: 10px;

    .imgWrap {
      width: 50%;
      padding: 20px;
      text-align: center;
    }
  }
  .carouselWrap{
    margin: 120px 0px;
  }
}

@media (max-width: 768px) {
  .productContainer {
    .productFlex {
      flex-direction: column;
      .imgWrap {
        width: 100%;
      }
    }
  }
}
