.account {
    display: flex;
    flex-direction: column;
    min-width: 120px;

    a {
        padding: 5px 15px;
        font-size: 14px;
        font-weight: 500;

        &.signout {
            color: rgb(189, 0, 0);
        }

        &:hover {
            color: var(--primary);
            background-color: rgb(243, 242, 255);

            &.signout {
                color: red;
                background-color: rgb(255, 246, 246);
            }
        }
    }
}