.card {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-top: 5px solid #e6e6e6;
  border-radius: 5px;
  padding: 20px;
  padding-top: 12px;
  margin: 15px 0px;
  box-shadow: 0px 4px 5.3px 0.7px rgba(0, 0, 0, 0.08);
  transition: all 300ms ease-in;
  text-overflow: ellipsis;

  &:hover {
    border-top: 5px solid var(--accent);

    .image img {
      transform: scale(1.1);
    }
  }

  .image {

    &::after{
      content: "";
      display: block;
      padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
    }

    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    // height: 100%;

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0; /* Make the picture taking the size of it's parent */
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      transition: all .3s ease-in;
    }

    .discount {
      position: absolute;
      top: 50%;
      left: 0;
      display: inline-block;
      background-color: red;
      padding: 3px 10px;
      border-radius: 3px;
      color: white;
      transform: translateY(-50%);
      font-size: 12px;
    }
  }

  .category {
    font-size: 13px;
    color: rgb(131, 131, 131);

    &:hover {
      color: var(--primary);
    }
  }

  .name {
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .price {
    margin-bottom: 25px;
    color: var(--accent);
    .originalPrice {
      font-size: 0.75em;
      margin-right: 10px;
      display: inline;
      text-decoration: line-through;
      color: var(--text-light);
    }
  }
}

