.noProducts{
    padding: 100px 0px 150px;
    text-align: center;
  
    a{
      color: var(--primary);
    }
  
}

.checkout {
    margin: 40px 0 40px;
    display: flex;
    justify-content: space-between;

    .user {
        width: 55%;
    }

    .order {
        width: 43%;        
    }

    @media (max-width: 840px) {
        flex-direction: column;
        
        .user {
            width: 100%;
        }

        .order {
            width: 100%;        
        }
    }

    .section {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 1rem;
        margin-bottom: 1rem;

        .royalty {
            margin-bottom: 1rem;
            padding: .6rem;
            background: #e96443;  
            background: linear-gradient(to right, #904e95, #e96443);
            border-radius: 3px;
            text-align: center;
            font-weight: 500;
            color: #fff;
        }

        .pointsInput {
            margin-bottom: 1rem;

            button {
                width: 25%;
                justify-content: center;
            }
        }

        .fields {
            display: flex;
            justify-content: space-between;
            font-weight: 500;
            line-height: 1.7;

            &.total {
                margin-top: 20px;
                padding-top: 15px;
                border-top: 1px solid #ccc;
                font-weight: 600;
            }
        }

        .confirm {
            margin-top: 1.2rem;
        }

        &.main {
            position: sticky;
            top: 1rem;
        }

        h2 {
            font-size: var(--size-h2);
            font-weight: 600;
            margin-bottom: .6rem;
        }
        
    }

}