.drawer {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1301;
    background-color: #fff;
    box-shadow: -10px 0px 70px 5px rgba(17, 67, 96, 0.24);
    transition: transform 0.3s ease-in-out;
    will-change: transform;
    overflow-y: auto;

    .container {
        margin: 15px;

        .close {
            display: inline-flex;
            cursor: pointer;
        }

        .navs li {
            display: flex;
            flex-direction: column;
            margin: 20px 15px;
            font-weight: 500;

            &.accordion {
                margin: -10px 15px;
                padding-left: 5px;
            }

            &.line {
                border-bottom: 1px solid #ccc;
            }

            .signin {
                color: var(--primary);
                font-weight: 600;
            }

            .signout {
                color: rgb(189, 0, 0);;
            }

            a {
                padding: 5px;
            }
        }

        &>div {
            font-family: 'Poppins' !important;
        }
    }

}