.wrap {
  padding: 20px;
  box-shadow: 0px 4px 9.3px 0.7px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  width: 80%;
  margin: 20px auto;

  h1{
    padding: 10px 0;
  }

  .detailWrap {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    

    .label {
      display: inline-block;
      padding: 10px 5px;
      width: 30%;
    }
    .value {
      display: inline-block;
      padding: 10px 5px;
      width: 70%;
    }
  }
}
