.profile {
    margin: 60px 0 40px;

    .section {
        display: grid;
        grid-template-columns: 2fr 5fr 1fr;
        padding: 30px 0px;
        border-top: 1px solid #ccc;
        gap: 15px;

        @media(max-width: 600px) {
            grid-template-columns: 1fr auto;
        }

        .title {
            font-weight: 600;

            @media(max-width: 600px) {
                order: 0;
                margin-bottom: 10px;
            }
        }

        .fields {

            @media(max-width: 600px) {
                order: 2;
            }
            
            .field {
                margin-bottom: 20px;

                label {
                    font-size: 14px;
                    color: var(--text-light);
                    display: block;
                }

                span {
                    display: block;
                }
            }

        }

        .edit {
            color: var(--primary);
            cursor: pointer;
            height: fit-content;
            width: fit-content;
            padding: 5px;

            @media(max-width: 600px) {
                order: 1;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}