.noResult {
    min-height: 40vh;
    margin-top: 20px;

    .warning {
        padding: 1rem;
        background-color: #fdf0d5;
        color: #6f4400;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    .tips {
        margin-left: 20px;
    }
}