
.swiper-nav-next {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    z-index: 1;
    right: 10px;
}

.swiper-nav-prev {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    z-index: 1;
    left: 10px;
}