.row {
    margin: 10px 0px;
    box-shadow: 0px 4px 9.3px 0.7px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    //border-bottom: 1px solid #e1e1e1;
  
    .imgCol {
      width: 10%;
      img {
        width: 100%;
      }
    }
  
    .detailCol {
      width: 70%;
      display: flex;
      .col {
        display: flex;
        box-sizing: border-box;
        align-items: center;
        margin: 10px;
  
        .name {
          font-size: 15px;
          font-weight: 500;
        }
  
        .price {
          color: var(--accent);
        }
  
        &.delete {
          text-transform: uppercase;
  
          button {
            &:hover {
              svg {
                stroke: red;
              }
            }
            cursor: pointer;
            background-color: transparent;
            border: 0;
            border-radius: 8px;
            padding: 5px 10px;
            transition: all 0.3s ease-in-out;
          }
        }
  
        &:nth-child(1) {
          width: 30%;
          flex-direction: column;
          align-items: flex-start;
        }
        &:nth-child(2) {
          width: 30%;
        }
        &:nth-child(3) {
          width: 40%;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
  
  @media (max-width: 1100px) {
    .row {
      .imgCol {
        width: 20%;
      }
      .detailCol {
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .col {
          margin: 3px;
          padding: 3px;
          .name {
            margin-bottom: 10px;
          }
          .price {
            font-size: 20px;
          }
          &:nth-child(1) {
            width: 80%;
            flex-direction: column;
            align-items: flex-start;
          }
          &:nth-child(2) {
            width: 80%;
          }
          &:nth-child(3) {
            width: 80%;
            font-size: 20px;
          }
        }
      }
    }
  }
  @media (max-width: 640px) {
    .row {
      padding: 2rem;
      .imgCol {
        width: 30%;
      }
      .detailCol {
        .col {
          .price {
            font-size: 15px;
          }
          &:nth-child(3) {
            font-size: 15px;
          }
        }
      }
    }
  }
  
  @media (max-width: 440px) {
    .row {
      padding: 1rem;
      .imgCol {
        width: 40%;
      }
      .detailCol {
        width: 60%;
        .col {
          .name {
            font-size: 12px;
          }
          .price {
            font-size: 15px;
          }
          &:nth-child(3) {
            font-size: 15px;
          }
        }
      }
    }
  }
  