@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('semantic-ui-css/components/button.min.css');
@import url('semantic-ui-css/components/input.min.css');
@import url('semantic-ui-css/components/accordion.min.css');
@import url('semantic-ui-css/components/transition.min.css');
@import url('semantic-ui-css/components/menu.min.css');
@import url('semantic-ui-css/components/popup.min.css');
@import url('semantic-ui-css/components/dropdown.min.css');
@import url('semantic-ui-css/components/item.min.css');
@import url('semantic-ui-css/components/label.min.css');
@import url('semantic-ui-css/components/image.min.css');

:root {
  --primary: #0046bf;
  --accent: #F93800;
  --white: #ffffff;
  --text-dark: #202020;
  --text-light: #585858;
  --text-lighter: #999999;
}

::placeholder {
  color: #A9A9A9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:'Poppins', sans-serif, -apple-system;
  scroll-behavior: smooth;
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input, button {
  font-family: 'Poppins', sans-serif, -apple-system !important;
}

.ui.accordion .title{
  font-family: 'Poppins', sans-serif, -apple-system !important;
  font-weight: 500;
  font-size: 16px !important;
  color: black !important;
}

.ui.accordion .accordion .title .dropdown.icon, .ui.accordion .title .dropdown.icon {
  float: right;
}

.ui.accordion .accordion {
  margin: 0 0 0;
  padding: 0;
}

.swiper-nav-next {
  width: 40px;
  height: 40px;
  background-color: black;
  position: absolute;
  top: 50%;
  z-index: 1;
  right: 10px;
}

.swiper-nav-prev {
  width: 40px;
  height: 40px;
  background-color: black;
  position: absolute;
  top: 50%;
  z-index: 1;
  left: 10px;
}

button {
  font-weight: 500 !important;
}

/* input:focus, input:active, button:focus, button:active {
  outline: solid 2px #000000;
} */

strong {
  font-weight: 500;
}

.color-light {
  color: var(--text-light);
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}





/* Sementic Ui Css*/


/*Button*/

.ui.button{
  background: var(--accent);
  border: 1px solid var(--accent);
  color: var(--white);
  font-size: 13px;
  transition: all 0.5s ease !important;

}

.ui.button:hover{
  background-color: var(--white);
  color: var(--accent);
 
}

.ui.button .icon svg{
  stroke: #ffffff;
}

.ui.button > .icon:not(.button) {
  stroke: #ffffff;

}
.ui.primary.button {
  background: var(--accent);
}
.ui.primary.button:hover {
  background-color: var(--white);
  color: var(--accent);
}


/*form Comment*/
.ui.form textarea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border: 1px solid var(--text-lighter);
  font-family: 'Poppins';
  padding: 10px 20px;


}



@media (max-width: 768px) {

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
  }

}

@media (max-width: 480px) {
  .ui.button{
          font-size: 12px !important;
      }
  
}

@media (max-width: 340px) {
  .ui.button{
          font-size: 10px !important;
      }
  
}