@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('semantic-ui-css/components/button.min.css');
@import url('semantic-ui-css/components/input.min.css');
@import url('semantic-ui-css/components/accordion.min.css');
@import url('semantic-ui-css/components/transition.min.css');
@import url('semantic-ui-css/components/menu.min.css');
@import url('semantic-ui-css/components/popup.min.css');
@import url('semantic-ui-css/components/dropdown.min.css');
@import url('semantic-ui-css/components/item.min.css');
@import url('semantic-ui-css/components/label.min.css');
@import url('semantic-ui-css/components/image.min.css');
@import url('semantic-ui-css/components/icon.min.css');
@import url('semantic-ui-css/components/divider.min.css');
@import url('semantic-ui-css/components/form.min.css');
@import url('semantic-ui-css/components/checkbox.min.css');

@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muktamalar/v7/MCoXzAXyz8LOE2FpJMxZqIvpJ_U5wA.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muktamalar/v7/MCoKzAXyz8LOE2FpJMxZqIMMBOAQ4WveoA.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}
@font-face {
  font-family: 'Mukta Malar';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/muktamalar/v7/MCoKzAXyz8LOE2FpJMxZqIMgA-AQ4WveoA.woff2) format('woff2');
  unicode-range: U+0964-0965, U+0B82-0BFA, U+200C-200D, U+20B9, U+25CC;
}

:root {
  --primary: #0046bf;
  --accent: #F93800;
  --white: #ffffff;
  --text-dark: #202020;
  --text-light: #585858;
  --text-lighter: #999999;
  --size-h1: 28px;
}

::placeholder {
  color: #A9A9A9;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', 'Mukta Malar', sans-serif, -apple-system;
  scroll-behavior: smooth;
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input, button {
  font-family: 'Poppins', 'Mukta Malar', sans-serif, -apple-system !important;
}

input {
  font-size: 14px;
  font-weight: 500;
}

.ui.accordion .title{
  font-family: 'Poppins', 'Mukta Malar', sans-serif, -apple-system !important;
  font-weight: 500;
  font-size: 16px !important;
  color: black !important;
}

.ui.accordion .accordion .title .dropdown.icon, .ui.accordion .title .dropdown.icon {
  float: right;
}

.ui.accordion .accordion {
  margin: 0 0 0;
  padding: 0;
}

button {
  font-weight: 500 !important;
}

/* input:focus, input:active, button:focus, button:active {
  outline: solid 2px #000000;
} */

strong {
  font-weight: 500;
}

.color-light {
  color: var(--text-light);
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}





/* Sementic Ui Css*/


/*Button*/
.ui.primary.button {
  background: var(--accent);
  color: #fff;
  transition: all 0.25 ease;
}
.ui.primary.button:hover, .ui.primary.button:active, .ui.primary.button:focus {
  background: #ff582a;
}

.header-op.ui.labeled.icon.button {
  padding-left: 3em !important;
  padding-right: 1em !important;
}


/*form Comment*/
.ui.form textarea {
  width: 100%;
  height: 150px;
  border-radius: 5px;
  border: 1px solid var(--text-lighter);
  font-family: 'Poppins', 'Mukta Malar', sans-serif, -apple-system !important;
  padding: 10px 20px;
}

.ui.form .field>label {
  font-weight: 400;
  font-size: 14px;
}



@media (max-width: 768px) {

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: flex;
  }

}

@media (max-width: 480px) {
  .ui.button{
    font-size: 12px !important;
  }
  
}

@media (max-width: 340px) {
  .ui.button{
    font-size: 10px !important;
  }
  
}


/* swiper navigation style */
.swiper-nav {
  width: 36px;
  height: 36px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: .7;
}

.swiper-nav:hover {
  opacity: 0.85;
}

.swiper-nav.swiper-button-disabled {
  opacity: 0;
  cursor: default;
}

.swiper-nav.swiper-button-hidden  {
  opacity: 0;
}

.swiper-nav-next {
  right: 0px;
}

.swiper-nav-prev {
  left: 0px;
}